{{#each this}}
<li class="minion__card">
    <div class="minion__thumb">
        <img src="{{img}}" alt="{{name}}" width="150">
    </div>
    <h3>{{name}}</h3>
    <p><b>his appearance:</b> <i>{{appearance}}</i></p>
    <p><b>he is:</b> <i>{{character}}</i></p>
    <p><b>thing that is associated with him:</b> <i>{{association}}</i></p>
</li>
{{/each}}